
/* Her har du all css vi bruker i prosjektet */

/*Her er bakgrunnsfargen vi bruker*/
body{
            background-color: #001f3f;
            text-align: center;
        }

/* box blir brukt en box midt på skjermen som skal forestilles som en mobiltelefon.
Alt som er på hver side skal foregå innen denne klassen.*/
        .box {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            text-align: center;
            Border-radius: 10px;
            background:white;
            margin: auto;
            width: 300px;
            height: 500px;
            position: relative;
        }

        /*img blir brukt til å lage en svart border rundt biltet (logoen) i index.html (innloggingssiden)*/
        img {
            border-style: solid;
            border-color: black;
            border-width: 3px;
            border-radius: 50%;
        }
        /*button blir brukt til mesteparten av knappene.*/
        .button {
            background-color: white;
            border: 3px solid black;
            color: black;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 5px 0px;
            height:30px;
            width:80px;
        }
        /*button2 blir brukt til en knapp som trengte en litt mindre knapp*/
     .button2 {
         background-color: white;
         border: 3px solid black;
         color: black;
         padding: 5px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 5px 0px;
         height:30px;
         width:40px;
     }
     /*button:hover og button-round legger til noen hover effect og avrunde hjørnene til knappene*/
        .button:hover {
            color: grey;
        }
        .button-round {
            border-radius: 10px;
        }
        /*navgrid blir brukt til å positionere hovedknappene med ikonene som skal være vår navigasjonsbar*/
     .navgrid {
         padding: 0px;
         position: absolute;
         bottom: 0;
        }
     /*profil-button blir brukt til å positionere profil knappen i main.html*/
     .profil-button {
         padding: 0px;
         position: absolute;
         top: 0;
         right: 0;
     }
